/*default administrator*/
.region{}
body.page-admincp{
    height: 100%;
    background: url(../img/bg.jpg) repeat top center;
    color: #222;
}
.pageWrapper {
    min-height: 100%;
	height: 100%;
    position: relative;
    width: 100%;
}
/*header box*/
#top {
    background: url("../img/opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 3px solid #97bd47;
    box-shadow: 0 1px 1px #606060;
    height: 45px;
}
.user-logout i{
    background: url("../img/top-buttons.png") no-repeat scroll -69px -1px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    margin-top: 15px;
    transition: all 0.15s ease-in-out 0s;
    width: 16px;
}
.user-logout:hover i{
    background: url("../img/top-buttons.png") no-repeat scroll -69px -18px rgba(0, 0, 0, 0);
}

.user-info {
    border-right: 1px solid #444;
    display: inline-block;
    float: right;
    height: 100%;
    padding: 0 15px;
    position: relative;
}
.user-info:hover{
    background: none repeat scroll 0 0 #313131;
    box-shadow: 1px 0 1px #2a2a2a inset, -1px 0 1px #2a2a2a inset;
}
.user-info i.icon-user {
    background: url("../img/avatar.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 100%;
    display: inline-block;
    height: 28px;
    margin-right: 5px;
    position: relative;
    top: 8px;
    width: 28px;
}

.user-info span.name-user {
    color: #fefefe;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-transform: capitalize;
    top: 0px;
}
/*content admin*/
.contentRegion {
    clear: both;
    margin-top: 10px;
    padding: 0 10px 0px;
    position: relative;
	height: 100%;
}
.inner-box {
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
/*left box*/
.leftRegion .region.region-left {
    height: 100%;
}

.leftRegion .region.region-left .block.block-admindefault {
    height: 100%;
}

.leftRegion .region.region-left .block.block-admindefault .content {
    height: 100%;
}
.leftRegion .region.region-left .navigation {
    background: url("../img/opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    box-shadow: 0 1px 1px #606060, 0 1px 1px #2a2a2a inset;
    display: block;
    min-height: 100%;
    padding: 0 5px;
}
.leftRegion .navigation > ul {
    padding: 5px 0;
}

.leftRegion .navigation  li {
    margin-bottom: 5px;
}
.leftRegion .navigation li a {
   background: url("../img/progress_overlay.png") repeat scroll 0 0%,
    linear-gradient(to bottom, #565656 0%, #464646 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15) inset, 0 1px 1px #202020;
    color: #efefef;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 11px 12px;
    text-shadow: 0 1px 1px #202020;
    position: relative;
}
.leftRegion .navigation li.active > a {
    background: url("../img/progress_overlay.png") repeat scroll 0 0%,
    linear-gradient(to bottom, #68b4dd 0%, #2f86b2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;
    color: #fff;
    text-shadow: 0 1px 1px #555;
    vertical-align: middle;
    border-radius: 2px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 11px 12px;
}
.leftRegion .navigation li a strong {
    background: none repeat scroll 0 0 #383838;
    border-radius: 2px;
    box-shadow: 0 1px 1px #606060, 0 1px 1px #282828 inset;
    font-size: 11px;
    height: 13px;
    line-height: 13px;
    padding: 5px 7px 4px;
    position: absolute;
    right: 10px;
    top: 8px;
    font-weight: normal;
}
.leftRegion .navigation li.active a:hover{
    background: url("../img/progress_overlay.png") repeat scroll 0 0%,
    linear-gradient(to bottom, #64b0d9 0%, #277eaa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.leftRegion .navigation li.active a strong {
    box-shadow: 0 1px 1px #282828 inset;
}
.leftRegion .navigation li a .icon-dashboard {
    display: block;
    float: left;
    margin: 1px 10px 0 0;
    background: url(../img/icon-dashboard.png) no-repeat;
    width: 16px;
    height: 16px;
}
.leftRegion .icon-elements{
    display: block;
    float: left;
    margin: 1px 10px 0 0;
    background: url(../img/icon-elements.png) no-repeat;
    width: 16px;
    height: 16px;
}
.leftRegion .navigation li a:hover{
    background: url("../img/progress_overlay.png") repeat scroll 0 0%,
    linear-gradient(to bottom, #5a5a5a 0%, #484848 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*right box*/
.showListItem table.sticky-table {
    border: 1px solid #ddd !important;
    border-radius: 4px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
}
.showListItem table tr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 35px;
}
.showListItem table td:nth-child(1),
.showListItem table th:nth-child(1) {
    text-align: center !important;
}
.showListItem input[type="checkbox"],
.showListItem input[type="radio"] {
    line-height: normal;
    margin: 4px 0 0;
}
.bgLeftIcon {
    background-image: url("../img/glyphicons-halflings.png");
}
.icon-pencil {
    background-position: -1502px -547px;
    display: block;
    float: left;
    height: 15px;
    margin-top: -2px;
    width: 18px;
}
.show-bottom-info{
    width: 100%;
    clear: both;
}
.show-bottom-info .total-rows{
    width: 30%;
    float: left;
    padding-top: 15px;
    color: #222;
}
.show-bottom-info .list-item-page{
    width: 65%;
    float: right;
    padding-top: 3px;
}
.showListPage .item-list .pager {
    clear: both;
    text-align: right !important;
}
ul.pager .pager-current {
    font-size: 11px;
}
/*form add and edit item*/
.page-content-box .control-group .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
}
.page-content-box .control-group label span {
    color: red;
}
.page-content-box button,
.page-content-box input,
.page-content-box label,
.page-content-box select,
.page-content-box textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.page-content-box .controls {
    margin-left: 180px;
    position: relative;
}
.page-content-box .controls input[type="text"],
.page-content-box .controls input[type="password"]{
    width: 48%;
}
.page-content-box input[type="color"],
.page-content-box input[type="date"],
.page-content-box input[type="datetime-local"],
.page-content-box input[type="datetime"],
.page-content-box input[type="email"],
.page-content-box input[type="month"],
.page-content-box input[type="number"],
.page-content-box input[type="password"],
.page-content-box input[type="search"],
.page-content-box input[type="tel"],
.page-content-box input[type="text"],
.page-content-box input[type="time"],
.page-content-box input[type="url"],
.page-content-box input[type="week"],
.page-content-box textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 2px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 4px 6px;
    vertical-align: middle;
}
.page-content-box input[type="color"]:focus,
.page-content-box input[type="date"]:focus,
.page-content-box input[type="datetime-local"]:focus,
.page-content-box input[type="datetime"]:focus,
.page-content-box input[type="email"]:focus,
.page-content-box input[type="month"]:focus,
.page-content-box input[type="number"]:focus,
.page-content-box input[type="password"]:focus,
.page-content-box input[type="search"]:focus,
.page-content-box input[type="tel"]:focus,
.page-content-box input[type="text"]:focus,
.page-content-box input[type="time"]:focus,
.page-content-box input[type="url"]:focus,
.page-content-box input[type="week"]:focus,
.page-content-box textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.page-content-box .controls textarea {
    max-width: 80%;
    min-height: 100px;
    min-width: 80%;
}
.page-content-box .controls select{
    width: 50%;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.control-group .controls select option {
    padding: 2px 0;
    text-indent: 5px;
}
/*box search*/
.search-box{
    clear: both;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
	border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    background: #f5f5f5;
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#ececec 100%);
}
.search-box input[type="text"] {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 2px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 4px 6px;
    vertical-align: middle;
    width: 210px;
    display: inline-block;
    vertical-align: top;
}
.search-box input[type="text"]:focus{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.search-box select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    width: 210px;
    display: inline-block;
    vertical-align: top;
}
.search-box select option{
    padding: 2px 0px;
    text-indent: 5px;
}
.search-box .btnSearch{
    background: #fefefe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: top;
}
.search-box .btnSearch:hover,
.search-box .btnSearch:active{
    background: #f8f8f8;
}
/*footer*/
.footerRegion {
    bottom: 0;
    clear: both;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
}

.wrapp-footer {
    color: #ccc;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

.pageWrapper.act .leftRegion{
    display: none;
    transition: all 0.15s ease-in-out 0s;
}
.pageWrapper.act .rightRegion{
    margin-left: 0;
    transition: all 0.15s ease-in-out 0s;
}
.hot{
	color:#ff0000;
}
.listfiles{
	clear:both;
	margin-top:10px;
	width: 100%;
}
.listfiles .item-post{
	width:80px;
	height:80px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	overflow: hidden;
}
.listfiles .item-post img{
	width: 100%;
}
.page-header-box {
    padding: 12px 0;
	font-size:13px;
	background: #fafafa;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom: 1px solid #d4d4d4;
}
.rightRegion .region-content{
	background: #fafafa;
	height: 100%;
	border-radius: 3px;
    position: relative;
    width: 100%;
}
body.page-admincp .wrapper{
     margin: 0 10px;
}
/*header box*/
#top .logo {
    background: url("../img/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    height: 25px;
    margin-top: 10px;
    width: 100px;
    cursor: pointer;
}

.right-top {
    float: right;
    height: 45px;
    border-right: 1px solid #444;
}
.right-top a.user-logout {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 0 15px;
}

.right-top a.user-logout:hover {
    background: none repeat scroll 0 0 #313131;
    box-shadow: 1px 0 1px #2a2a2a inset, -1px 0 1px #2a2a2a inset;
}
/*content admin*/
/*left box*/
.leftRegion  {
    color: #e5e5e5;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
}
.leftRegion .region.region-left .block.block-admindefault {
    height: 100%;
}

.leftRegion .region.region-left .block.block-admindefault .content {
    height: 100%;
}
.leftRegion .navigation li a .icon-dashboard {
    display: block;
    float: left;
    margin: 1px 10px 0 0;
    background: url(../img/icon-dashboard.png) no-repeat;
    width: 16px;
    height: 16px;
}
/*right box*/
.rightRegion{
    background: url("../img/opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 0 20px 13%;
    border-radius: 3px;
    box-shadow: 0 1px 1px #606060, 0 1px 1px #2a2a2a inset;
    padding: 5px;
}
.page-title-box {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    background: #f5f5f5;
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#ececec 100%);
    height: 32px;
    line-height: 32px;
}
.page-title-box h5 {
    color: #4c4c4c;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}
.page-content-box{
    padding: 15px;
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    min-height: 630px;
    width: 100%;
    display: inline-block;
    border-bottom: none;
}
.sticky-enabled.tableheader-processed.sticky-table td,
.sticky-enabled.tableheader-processed.sticky-table th {
    max-width: 250px;
}
.showListItem table td:nth-child(1),
.showListItem table th:nth-child(1) {
    text-align: center !important;
}
.showListItem table td,
.showListItem table th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd !important;
    line-height: 20px !important;
    padding: 0 8px !important;
    text-align: left;
    vertical-align: middle !important;
}
.showListItem table th {
    border-bottom: 1px solid #ccc !important;
}
.showListItem table th a,
.showListItem table th a:hover {
    color: #000 !important;
    text-decoration: none !important;
}
.showListItem table th a {
    background: url("../img/sort_both.png") no-repeat scroll right center transparent;
    display: block;
    width: 100%;
}
.showListItem table th a img {
    display: none !important;
}
.icon-remove {
    background-position: -1715px 0;
    display: block;
    float: left;
    height: 14px;
    margin-top: 0;
    width: 18px;
}
.bg-status-show {
    background-color: #468847;
     border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 11.84px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 auto;
    max-width: 30px;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.bg-status-hidden {
    background:#999;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 11.84px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 auto;
    max-width: 30px;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.pager .pager-first,
.pager .pager-item,
.pager .pager-last,
.pager .pager-next,
.pager .pager-previous {
    color: #000;
    cursor: pointer;
    margin: 5px;
    padding: 0 !important;
    text-align: center;
}
.page-title-box span.tools {
    float: right;
    margin: 0;
    padding: 0 5px;
    position: relative;
    top: 4px;
}
.icon-add, .icon-add:hover {
    background: url("../img/add.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: inline-block;
    height: 17px;
    width: 17px;
}
.icon-delete, .icon-delete:hover {
    background: url("../img/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: inline-block;
    height: 16px;
    width: 16px;
}
/*form add and edit item*/
.page-content-box .control-group {
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.page-content-box .control-group .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
}
.page-content-box .control-group label span {
    color: red;
}
.page-content-box input[type="color"],
.page-content-box input[type="date"],
.page-content-box input[type="datetime-local"],
.page-content-box input[type="datetime"],
.page-content-box input[type="email"],
.page-content-box input[type="month"],
.page-content-box input[type="number"],
.page-content-box input[type="password"],
.page-content-box input[type="search"],
.page-content-box input[type="tel"],
.page-content-box input[type="text"],
.page-content-box input[type="time"],
.page-content-box input[type="url"],
.page-content-box input[type="week"],
.page-content-box textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 2px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 4px 8px;
    vertical-align: middle;
}
.page-content-box input[type="color"]:focus,
.page-content-box input[type="date"]:focus,
.page-content-box input[type="datetime-local"]:focus,
.page-content-box input[type="datetime"]:focus,
.page-content-box input[type="email"]:focus,
.page-content-box input[type="month"]:focus,
.page-content-box input[type="number"]:focus,
.page-content-box input[type="password"]:focus,
.page-content-box input[type="search"]:focus,
.page-content-box input[type="tel"]:focus,
.page-content-box input[type="text"]:focus,
.page-content-box input[type="time"]:focus,
.page-content-box input[type="url"]:focus,
.page-content-box input[type="week"]:focus,
.page-content-box textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.page-content-box .controls textarea {
    max-width: 80%;
    min-height: 100px;
    min-width: 80%;
}
.page-content-box .form-actions {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
    padding-left: 185px;
}
.page-content-box .btn {
    background: #fefefe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.page-content-box .btn-primary{
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,.25);
    background-color:#006dcc;
    *background-color:#04c;
    background-image:-moz-linear-gradient(top,#08c,#04c);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image:-webkit-linear-gradient(top,#08c,#04c);
    background-image:-o-linear-gradient(top,#08c,#04c);
    background-image:linear-gradient(to bottom,#08c,#04c);
    background-repeat:repeat-x;
    border-color:#04c #04c #002a80;
    border-color:rgba(0,0,0,.1)rgba(0,0,0,.1)rgba(0,0,0,.25);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.page-content-box .btn-primary:hover {
    background: #4670cf;
    color: #fff;
}
.page-content-box .btn[type="reset"]:hover{
    background: #f8f8f8;
}
/*box search*/
.wrapp-search-box{
    padding: 10px 10px 7px 10px;
}
.search-box-title {
    clear: both;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -10px;
    width: 100%;
}
/*footer*/
.footerRegion {
    bottom: 0;
    clear: both;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
}
.wrapp-footer {
    color: #ccc;
    font-size: 14px;
    text-align: center;
}
.pageWrapper.act .leftRegion{
    display: none;
    transition: all 0.15s ease-in-out 0s;
}
.pageWrapper.act .rightRegion{
    margin-left: 0;
    transition: all 0.15s ease-in-out 0s;
}
.hot{
	color:#ff0000;
}
.blue{
	color:#468847;
}
.listfiles{
	clear:both;
	margin-top:10px;
	width: 100%;
}
.listfiles .item-post{
	width:80px;
	height:80px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	overflow: hidden;
}
.listfiles .item-post img{
	border: 1px solid #999;
    width: 98%;
}

.page-header-box {
    padding: 12px 0;
	font-size:13px;
	background: #fafafa;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.messages.warning,
.messages.error,
.messages.status {
    position: relative;
    z-index: 1;
}
.wrappButton {
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 110px;
}
.wrappButton input[type="file"] {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.wrappButton .btn-add{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#5bb75b;*background-color:#51a351;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(to bottom, #62c462, #51a351);
	background-image:-moz-linear-gradient(top, #62c462, #51a351);
	background-repeat:repeat-x;
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	border-radius:4px;
	display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
	border:none;
	position: absolute;
}
div#load_file_ajax,
div#load_file_ajax_gift {
    display: inline-block;
    float: left;
    width: auto
}
#load_file_ajax .rowprocess,
div#load_file_ajax_gift .rowprocess{
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 75px
}
#load_file_ajax .rowprocess p ,
div#load_file_ajax_gift .rowprocess p{
    width: 100%;
    clear: both
}
.rowprocess img {
    border: 1px solid #d4d4d4;
    width: 50px!important;
    height: 50px!important
}
.rowprocess a {
    clear: both;
    display: inline-block;
    float: none;
    position: relative;
    top: 10px;
    width: 100%;
}
.listFildDb .thumb {
    float: left;
    width: 50px;
}
.listFildDb .rowprocess {
    display: block;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 75px;
}
/*-----------------------------------------------media-------------------------------------------*/
@media (max-width: 560px) {
    .contentRegion {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0px;
        width: 100%;
    }
    .leftRegion {
        display: none;
    }
    .rightRegion {
        margin: 0 0 20px 0;
        min-width: 450px;
    }
}
